soap/ProgramAttendeeService.xml

<?xml version="1.0" encoding="utf-8" ?> 
<wsdl:definitions name="ProgramAttendeeService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
<wsdl:types>
<xsd:schema targetNamespace="http://tempuri.org/Imports">
<xsd:import schemaLocation="http://10.137.1.49:6652/ProgramAttendeeService.svc?xsd=xsd0" namespace="http://tempuri.org/" /> 
<xsd:import schemaLocation="http://10.137.1.49:6652/ProgramAttendeeService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" /> 
<xsd:import schemaLocation="http://10.137.1.49:6652/ProgramAttendeeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NitaWebService.Models" /> 
<xsd:import schemaLocation="http://10.137.1.49:6652/ProgramAttendeeService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/NitaWebService" /> 
</xsd:schema>
</wsdl:types>
<wsdl:message name="IProgramAttendeeService_Insert_InputMessage">
<wsdl:part name="parameters" element="tns:Insert" /> 
</wsdl:message>
<wsdl:message name="IProgramAttendeeService_Insert_OutputMessage">
<wsdl:part name="parameters" element="tns:InsertResponse" /> 
</wsdl:message>
<wsdl:message name="IProgramAttendeeService_Update_InputMessage">
<wsdl:part name="parameters" element="tns:Update" /> 
</wsdl:message>
<wsdl:message name="IProgramAttendeeService_Update_OutputMessage">
<wsdl:part name="parameters" element="tns:UpdateResponse" /> 
</wsdl:message>
<wsdl:message name="IProgramAttendeeService_Get_InputMessage">
<wsdl:part name="parameters" element="tns:Get" /> 
</wsdl:message>
<wsdl:message name="IProgramAttendeeService_Get_OutputMessage">
<wsdl:part name="parameters" element="tns:GetResponse" /> 
</wsdl:message>
<wsdl:message name="IProgramAttendeeService_Delete_InputMessage">
<wsdl:part name="parameters" element="tns:Delete" /> 
</wsdl:message>
<wsdl:message name="IProgramAttendeeService_Delete_OutputMessage">
<wsdl:part name="parameters" element="tns:DeleteResponse" /> 
</wsdl:message>
<wsdl:message name="IProgramAttendeeService_GetDropDownOptionsForField_InputMessage">
<wsdl:part name="parameters" element="tns:GetDropDownOptionsForField" /> 
</wsdl:message>
<wsdl:message name="IProgramAttendeeService_GetDropDownOptionsForField_OutputMessage">
<wsdl:part name="parameters" element="tns:GetDropDownOptionsForFieldResponse" /> 
</wsdl:message>
<wsdl:message name="IProgramAttendeeService_GetAttendeesByContactIdAndProgramId_InputMessage">
<wsdl:part name="parameters" element="tns:GetAttendeesByContactIdAndProgramId" /> 
</wsdl:message>
<wsdl:message name="IProgramAttendeeService_GetAttendeesByContactIdAndProgramId_OutputMessage">
<wsdl:part name="parameters" element="tns:GetAttendeesByContactIdAndProgramIdResponse" /> 
</wsdl:message>
<wsdl:message name="IProgramAttendeeService_GetAttendeesByContactId_InputMessage">
<wsdl:part name="parameters" element="tns:GetAttendeesByContactId" /> 
</wsdl:message>
<wsdl:message name="IProgramAttendeeService_GetAttendeesByContactId_OutputMessage">
<wsdl:part name="parameters" element="tns:GetAttendeesByContactIdResponse" /> 
</wsdl:message>
<wsdl:portType name="IProgramAttendeeService">
<wsdl:operation name="Insert">
<wsdl:input wsaw:Action="http://tempuri.org/IProgramAttendeeService/Insert" message="tns:IProgramAttendeeService_Insert_InputMessage" /> 
<wsdl:output wsaw:Action="http://tempuri.org/IProgramAttendeeService/InsertResponse" message="tns:IProgramAttendeeService_Insert_OutputMessage" /> 
</wsdl:operation>
<wsdl:operation name="Update">
<wsdl:input wsaw:Action="http://tempuri.org/IProgramAttendeeService/Update" message="tns:IProgramAttendeeService_Update_InputMessage" /> 
<wsdl:output wsaw:Action="http://tempuri.org/IProgramAttendeeService/UpdateResponse" message="tns:IProgramAttendeeService_Update_OutputMessage" /> 
</wsdl:operation>
<wsdl:operation name="Get">
<wsdl:input wsaw:Action="http://tempuri.org/IProgramAttendeeService/Get" message="tns:IProgramAttendeeService_Get_InputMessage" /> 
<wsdl:output wsaw:Action="http://tempuri.org/IProgramAttendeeService/GetResponse" message="tns:IProgramAttendeeService_Get_OutputMessage" /> 
</wsdl:operation>
<wsdl:operation name="Delete">
<wsdl:input wsaw:Action="http://tempuri.org/IProgramAttendeeService/Delete" message="tns:IProgramAttendeeService_Delete_InputMessage" /> 
<wsdl:output wsaw:Action="http://tempuri.org/IProgramAttendeeService/DeleteResponse" message="tns:IProgramAttendeeService_Delete_OutputMessage" /> 
</wsdl:operation>
<wsdl:operation name="GetDropDownOptionsForField">
<wsdl:input wsaw:Action="http://tempuri.org/IProgramAttendeeService/GetDropDownOptionsForField" message="tns:IProgramAttendeeService_GetDropDownOptionsForField_InputMessage" /> 
<wsdl:output wsaw:Action="http://tempuri.org/IProgramAttendeeService/GetDropDownOptionsForFieldResponse" message="tns:IProgramAttendeeService_GetDropDownOptionsForField_OutputMessage" /> 
</wsdl:operation>
<wsdl:operation name="GetAttendeesByContactIdAndProgramId">
<wsdl:input wsaw:Action="http://tempuri.org/IProgramAttendeeService/GetAttendeesByContactIdAndProgramId" message="tns:IProgramAttendeeService_GetAttendeesByContactIdAndProgramId_InputMessage" /> 
<wsdl:output wsaw:Action="http://tempuri.org/IProgramAttendeeService/GetAttendeesByContactIdAndProgramIdResponse" message="tns:IProgramAttendeeService_GetAttendeesByContactIdAndProgramId_OutputMessage" /> 
</wsdl:operation>
<wsdl:operation name="GetAttendeesByContactId">
<wsdl:input wsaw:Action="http://tempuri.org/IProgramAttendeeService/GetAttendeesByContactId" message="tns:IProgramAttendeeService_GetAttendeesByContactId_InputMessage" /> 
<wsdl:output wsaw:Action="http://tempuri.org/IProgramAttendeeService/GetAttendeesByContactIdResponse" message="tns:IProgramAttendeeService_GetAttendeesByContactId_OutputMessage" /> 
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="BasicHttpBinding_IProgramAttendeeService" type="tns:IProgramAttendeeService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" /> 
<wsdl:operation name="Insert">
<soap:operation soapAction="http://tempuri.org/IProgramAttendeeService/Insert" style="document" /> 
<wsdl:input>
<soap:body use="literal" /> 
</wsdl:input>
<wsdl:output>
<soap:body use="literal" /> 
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="Update">
<soap:operation soapAction="http://tempuri.org/IProgramAttendeeService/Update" style="document" /> 
<wsdl:input>
<soap:body use="literal" /> 
</wsdl:input>
<wsdl:output>
<soap:body use="literal" /> 
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="Get">
<soap:operation soapAction="http://tempuri.org/IProgramAttendeeService/Get" style="document" /> 
<wsdl:input>
<soap:body use="literal" /> 
</wsdl:input>
<wsdl:output>
<soap:body use="literal" /> 
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="Delete">
<soap:operation soapAction="http://tempuri.org/IProgramAttendeeService/Delete" style="document" /> 
<wsdl:input>
<soap:body use="literal" /> 
</wsdl:input>
<wsdl:output>
<soap:body use="literal" /> 
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="GetDropDownOptionsForField">
<soap:operation soapAction="http://tempuri.org/IProgramAttendeeService/GetDropDownOptionsForField" style="document" /> 
<wsdl:input>
<soap:body use="literal" /> 
</wsdl:input>
<wsdl:output>
<soap:body use="literal" /> 
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="GetAttendeesByContactIdAndProgramId">
<soap:operation soapAction="http://tempuri.org/IProgramAttendeeService/GetAttendeesByContactIdAndProgramId" style="document" /> 
<wsdl:input>
<soap:body use="literal" /> 
</wsdl:input>
<wsdl:output>
<soap:body use="literal" /> 
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="GetAttendeesByContactId">
<soap:operation soapAction="http://tempuri.org/IProgramAttendeeService/GetAttendeesByContactId" style="document" /> 
<wsdl:input>
<soap:body use="literal" /> 
</wsdl:input>
<wsdl:output>
<soap:body use="literal" /> 
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="ProgramAttendeeService">
<wsdl:port name="BasicHttpBinding_IProgramAttendeeService" binding="tns:BasicHttpBinding_IProgramAttendeeService">
<soap:address location="http://10.137.1.49:6652/ProgramAttendeeService.svc" /> 
</wsdl:port>
</wsdl:service>
</wsdl:definitions>