soap/ProgramService3.xml

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NitaWebService" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/NitaWebService">
  <xs:import schemaLocation="http://10.137.1.49:6652/ProgramService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfDropDownOption">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DropDownOption" type="tns:DropDownOption" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDropDownOption" nillable="true" type="tns:ArrayOfDropDownOption" />
  <xs:complexType name="DropDownOption">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Index" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DropDownOption" nillable="true" type="tns:DropDownOption" />
</xs:schema>
