soap/ProgramService.xml

<?xml version="1.0" encoding="utf-8" ?>
<wsdl:definitions name="ProgramService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://10.137.1.49:6652/ProgramService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://10.137.1.49:6652/ProgramService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://10.137.1.49:6652/ProgramService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NitaWebService.Models" />
      <xsd:import schemaLocation="http://10.137.1.49:6652/ProgramService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/NitaWebService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProgramService_Insert_InputMessage">
    <wsdl:part name="parameters" element="tns:Insert" />
  </wsdl:message>
  <wsdl:message name="IProgramService_Insert_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertResponse" />
  </wsdl:message>
  <wsdl:message name="IProgramService_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="IProgramService_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IProgramService_Get_InputMessage">
    <wsdl:part name="parameters" element="tns:Get" />
  </wsdl:message>
  <wsdl:message name="IProgramService_Get_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetResponse" />
  </wsdl:message>
  <wsdl:message name="IProgramService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IProgramService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IProgramService_GetDropDownOptionsForField_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDropDownOptionsForField" />
  </wsdl:message>
  <wsdl:message name="IProgramService_GetDropDownOptionsForField_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDropDownOptionsForFieldResponse" />
  </wsdl:message>
  <wsdl:message name="IProgramService_GetActivePrograms_InputMessage">
    <wsdl:part name="parameters" element="tns:GetActivePrograms" />
  </wsdl:message>
  <wsdl:message name="IProgramService_GetActivePrograms_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetActiveProgramsResponse" />
  </wsdl:message>
  <wsdl:portType name="IProgramService">
    <wsdl:operation name="Insert">
      <wsdl:input wsaw:Action="http://tempuri.org/IProgramService/Insert" message="tns:IProgramService_Insert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProgramService/InsertResponse" message="tns:IProgramService_Insert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IProgramService/Update" message="tns:IProgramService_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProgramService/UpdateResponse" message="tns:IProgramService_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get">
      <wsdl:input wsaw:Action="http://tempuri.org/IProgramService/Get" message="tns:IProgramService_Get_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProgramService/GetResponse" message="tns:IProgramService_Get_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IProgramService/Delete" message="tns:IProgramService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProgramService/DeleteResponse" message="tns:IProgramService_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDropDownOptionsForField">
      <wsdl:input wsaw:Action="http://tempuri.org/IProgramService/GetDropDownOptionsForField" message="tns:IProgramService_GetDropDownOptionsForField_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProgramService/GetDropDownOptionsForFieldResponse" message="tns:IProgramService_GetDropDownOptionsForField_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetActivePrograms">
      <wsdl:input wsaw:Action="http://tempuri.org/IProgramService/GetActivePrograms" message="tns:IProgramService_GetActivePrograms_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProgramService/GetActiveProgramsResponse" message="tns:IProgramService_GetActivePrograms_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IProgramService" type="tns:IProgramService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Insert">
      <soap:operation soapAction="http://tempuri.org/IProgramService/Insert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/IProgramService/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get">
      <soap:operation soapAction="http://tempuri.org/IProgramService/Get" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IProgramService/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDropDownOptionsForField">
      <soap:operation soapAction="http://tempuri.org/IProgramService/GetDropDownOptionsForField" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetActivePrograms">
      <soap:operation soapAction="http://tempuri.org/IProgramService/GetActivePrograms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProgramService">
    <wsdl:port name="BasicHttpBinding_IProgramService" binding="tns:BasicHttpBinding_IProgramService">
      <soap:address location="http://10.137.1.49:6652/ProgramService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
