soap/ProgramService0.xml

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/">
  <xs:import schemaLocation="http://10.137.1.49:6652/ProgramService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NitaWebService.Models" />
  <xs:import schemaLocation="http://10.137.1.49:6652/ProgramService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/NitaWebService" />
  <xs:element name="Insert">
  <xs:complexType>
    <xs:sequence>
      <xs:element minOccurs="0" name="model" nillable="true" type="q1:ProgramModel" xmlns:q1="http://schemas.datacontract.org/2004/07/NitaWebService.Models" />
    </xs:sequence>
  </xs:complexType>
  </xs:element>
  <xs:element name="InsertResponse">
  <xs:complexType>
    <xs:sequence>
      <xs:element minOccurs="0" name="InsertResult" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  </xs:element>
  <xs:element name="Update">
  <xs:complexType>
    <xs:sequence>
      <xs:element minOccurs="0" name="model" nillable="true" type="q2:ProgramModel" xmlns:q2="http://schemas.datacontract.org/2004/07/NitaWebService.Models" />
    </xs:sequence>
  </xs:complexType>
  </xs:element>
  <xs:element name="UpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Get">
  <xs:complexType>
    <xs:sequence>
      <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  </xs:element>
  <xs:element name="GetResponse">
  <xs:complexType>
    <xs:sequence>
      <xs:element minOccurs="0" name="GetResult" nillable="true" type="q3:ProgramModel" xmlns:q3="http://schemas.datacontract.org/2004/07/NitaWebService.Models" />
    </xs:sequence>
  </xs:complexType>
  </xs:element>
  <xs:element name="Delete">
  <xs:complexType>
    <xs:sequence>
      <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDropDownOptionsForField">
  <xs:complexType>
    <xs:sequence>
      <xs:element minOccurs="0" name="fieldName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  </xs:element>
  <xs:element name="GetDropDownOptionsForFieldResponse">
  <xs:complexType>
    <xs:sequence>
      <xs:element minOccurs="0" name="GetDropDownOptionsForFieldResult" nillable="true" type="q4:ArrayOfDropDownOption" xmlns:q4="http://schemas.datacontract.org/2004/07/NitaWebService" />
    </xs:sequence>
  </xs:complexType>
  </xs:element>
  <xs:element name="GetActivePrograms">
  <xs:complexType>
    <xs:sequence>
      <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveProgramsResponse">
  <xs:complexType>
    <xs:sequence>
      <xs:element minOccurs="0" name="GetActiveProgramsResult" nillable="true" type="q5:ArrayOfProgramModel" xmlns:q5="http://schemas.datacontract.org/2004/07/NitaWebService.Models" />
    </xs:sequence>
  </xs:complexType>
  </xs:element>
</xs:schema>
