soap/WebPageService.xml

<?xml version="1.0" encoding="utf-8" ?> 
<wsdl:definitions name="WebPageService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
<wsdl:types>
<xsd:schema targetNamespace="http://tempuri.org/Imports">
<xsd:import schemaLocation="http://10.137.1.49:6652/WebPageService.svc?xsd=xsd0" namespace="http://tempuri.org/" /> 
<xsd:import schemaLocation="http://10.137.1.49:6652/WebPageService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" /> 
<xsd:import schemaLocation="http://10.137.1.49:6652/WebPageService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NitaWebService.Models" /> 
<xsd:import schemaLocation="http://10.137.1.49:6652/WebPageService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/NitaWebService" /> 
</xsd:schema>
</wsdl:types>
<wsdl:message name="IWebPageService_Insert_InputMessage">
<wsdl:part name="parameters" element="tns:Insert" /> 
</wsdl:message>
<wsdl:message name="IWebPageService_Insert_OutputMessage">
<wsdl:part name="parameters" element="tns:InsertResponse" /> 
</wsdl:message>
<wsdl:message name="IWebPageService_Update_InputMessage">
<wsdl:part name="parameters" element="tns:Update" /> 
</wsdl:message>
<wsdl:message name="IWebPageService_Update_OutputMessage">
<wsdl:part name="parameters" element="tns:UpdateResponse" /> 
</wsdl:message>
<wsdl:message name="IWebPageService_Get_InputMessage">
<wsdl:part name="parameters" element="tns:Get" /> 
</wsdl:message>
<wsdl:message name="IWebPageService_Get_OutputMessage">
<wsdl:part name="parameters" element="tns:GetResponse" /> 
</wsdl:message>
<wsdl:message name="IWebPageService_Delete_InputMessage">
<wsdl:part name="parameters" element="tns:Delete" /> 
</wsdl:message>
<wsdl:message name="IWebPageService_Delete_OutputMessage">
<wsdl:part name="parameters" element="tns:DeleteResponse" /> 
</wsdl:message>
<wsdl:message name="IWebPageService_GetDropDownOptionsForField_InputMessage">
<wsdl:part name="parameters" element="tns:GetDropDownOptionsForField" /> 
</wsdl:message>
<wsdl:message name="IWebPageService_GetDropDownOptionsForField_OutputMessage">
<wsdl:part name="parameters" element="tns:GetDropDownOptionsForFieldResponse" /> 
</wsdl:message>
<wsdl:message name="IWebPageService_GetPagesByNavName_InputMessage">
<wsdl:part name="parameters" element="tns:GetPagesByNavName" /> 
</wsdl:message>
<wsdl:message name="IWebPageService_GetPagesByNavName_OutputMessage">
<wsdl:part name="parameters" element="tns:GetPagesByNavNameResponse" /> 
</wsdl:message>
<wsdl:message name="IWebPageService_GetPagesByParentId_InputMessage">
<wsdl:part name="parameters" element="tns:GetPagesByParentId" /> 
</wsdl:message>
<wsdl:message name="IWebPageService_GetPagesByParentId_OutputMessage">
<wsdl:part name="parameters" element="tns:GetPagesByParentIdResponse" /> 
</wsdl:message>
<wsdl:portType name="IWebPageService">
<wsdl:operation name="Insert">
<wsdl:input wsaw:Action="http://tempuri.org/IWebPageService/Insert" message="tns:IWebPageService_Insert_InputMessage" /> 
<wsdl:output wsaw:Action="http://tempuri.org/IWebPageService/InsertResponse" message="tns:IWebPageService_Insert_OutputMessage" /> 
</wsdl:operation>
<wsdl:operation name="Update">
<wsdl:input wsaw:Action="http://tempuri.org/IWebPageService/Update" message="tns:IWebPageService_Update_InputMessage" /> 
<wsdl:output wsaw:Action="http://tempuri.org/IWebPageService/UpdateResponse" message="tns:IWebPageService_Update_OutputMessage" /> 
</wsdl:operation>
<wsdl:operation name="Get">
<wsdl:input wsaw:Action="http://tempuri.org/IWebPageService/Get" message="tns:IWebPageService_Get_InputMessage" /> 
<wsdl:output wsaw:Action="http://tempuri.org/IWebPageService/GetResponse" message="tns:IWebPageService_Get_OutputMessage" /> 
</wsdl:operation>
<wsdl:operation name="Delete">
<wsdl:input wsaw:Action="http://tempuri.org/IWebPageService/Delete" message="tns:IWebPageService_Delete_InputMessage" /> 
<wsdl:output wsaw:Action="http://tempuri.org/IWebPageService/DeleteResponse" message="tns:IWebPageService_Delete_OutputMessage" /> 
</wsdl:operation>
<wsdl:operation name="GetDropDownOptionsForField">
<wsdl:input wsaw:Action="http://tempuri.org/IWebPageService/GetDropDownOptionsForField" message="tns:IWebPageService_GetDropDownOptionsForField_InputMessage" /> 
<wsdl:output wsaw:Action="http://tempuri.org/IWebPageService/GetDropDownOptionsForFieldResponse" message="tns:IWebPageService_GetDropDownOptionsForField_OutputMessage" /> 
</wsdl:operation>
<wsdl:operation name="GetPagesByNavName">
<wsdl:input wsaw:Action="http://tempuri.org/IWebPageService/GetPagesByNavName" message="tns:IWebPageService_GetPagesByNavName_InputMessage" /> 
<wsdl:output wsaw:Action="http://tempuri.org/IWebPageService/GetPagesByNavNameResponse" message="tns:IWebPageService_GetPagesByNavName_OutputMessage" /> 
</wsdl:operation>
<wsdl:operation name="GetPagesByParentId">
<wsdl:input wsaw:Action="http://tempuri.org/IWebPageService/GetPagesByParentId" message="tns:IWebPageService_GetPagesByParentId_InputMessage" /> 
<wsdl:output wsaw:Action="http://tempuri.org/IWebPageService/GetPagesByParentIdResponse" message="tns:IWebPageService_GetPagesByParentId_OutputMessage" /> 
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="BasicHttpBinding_IWebPageService" type="tns:IWebPageService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" /> 
<wsdl:operation name="Insert">
<soap:operation soapAction="http://tempuri.org/IWebPageService/Insert" style="document" /> 
<wsdl:input>
<soap:body use="literal" /> 
</wsdl:input>
<wsdl:output>
<soap:body use="literal" /> 
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="Update">
<soap:operation soapAction="http://tempuri.org/IWebPageService/Update" style="document" /> 
<wsdl:input>
<soap:body use="literal" /> 
</wsdl:input>
<wsdl:output>
<soap:body use="literal" /> 
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="Get">
<soap:operation soapAction="http://tempuri.org/IWebPageService/Get" style="document" /> 
<wsdl:input>
<soap:body use="literal" /> 
</wsdl:input>
<wsdl:output>
<soap:body use="literal" /> 
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="Delete">
<soap:operation soapAction="http://tempuri.org/IWebPageService/Delete" style="document" /> 
<wsdl:input>
<soap:body use="literal" /> 
</wsdl:input>
<wsdl:output>
<soap:body use="literal" /> 
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="GetDropDownOptionsForField">
<soap:operation soapAction="http://tempuri.org/IWebPageService/GetDropDownOptionsForField" style="document" /> 
<wsdl:input>
<soap:body use="literal" /> 
</wsdl:input>
<wsdl:output>
<soap:body use="literal" /> 
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="GetPagesByNavName">
<soap:operation soapAction="http://tempuri.org/IWebPageService/GetPagesByNavName" style="document" /> 
<wsdl:input>
<soap:body use="literal" /> 
</wsdl:input>
<wsdl:output>
<soap:body use="literal" /> 
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="GetPagesByParentId">
<soap:operation soapAction="http://tempuri.org/IWebPageService/GetPagesByParentId" style="document" /> 
<wsdl:input>
<soap:body use="literal" /> 
</wsdl:input>
<wsdl:output>
<soap:body use="literal" /> 
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="WebPageService">
<wsdl:port name="BasicHttpBinding_IWebPageService" binding="tns:BasicHttpBinding_IWebPageService">
<soap:address location="http://10.137.1.49:6652/WebPageService.svc" /> 
</wsdl:port>
</wsdl:service>
</wsdl:definitions>